
}

body {
  background:purple;
  font-family: "time new roman", "Arial", sans-serif; 
  color:$white;
  height:100%;
  text-align:center;
  font-size:18px;
}

.wrappper{
   clear;
  width:100%;
  margin:0 auto;
}


canvas{
  color: white;
  border:  white dashed 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: 'Arial', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 50%;
}

h2 {
	font-size: 50%;
}

p{
  font-size: 50%;
}

#alphabet {
  clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:black;
  color:beige;
  cursor:pointer;
  columns:(5px);
  border: solid 1px white;
    
    :hover{
      background:  beige;
      border: solid 1px white;
      color:white;
    }
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
   opacity;
  cursor: default;
    
  &:hover{
     fade;
      opacity;
    }
}

#mylives{
  font-size:10%;
  text-align:center;
  display:block;
}

button{
  columns: (5px);
  background:black;
  color:white;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:10%;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  
    &:hover{
      background:white;
      border: solid 1px $white;
      color:$base-color;
    }
}

media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }